USE [master]
GO
/****** Object:  Database [ECommerceDB]    Script Date: 16-Oct-18 1:21:00 AM ******/
CREATE DATABASE [ECommerceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ECommerceDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECommerceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ECommerceDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerceDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[ProductImage] [varchar](50) NOT NULL,
	[ProductDescription] [varchar](500) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[ProductPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductName]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductName](
	[ProductNameId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductName] PRIMARY KEY CLUSTERED 
(
	[ProductNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalesRecord]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesRecord](
	[SalesId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_SalesRecord] PRIMARY KEY CLUSTERED 
(
	[SalesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserEmail] [varchar](30) NOT NULL,
	[UserContactNo] [varchar](15) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 16-Oct-18 1:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductTypeId], [ProductNameId], [ProductImage], [ProductDescription], [CompanyName], [ProductPrice]) VALUES (4, 4, 6, N'0.Jpg', N'', N'sjhnstjks', CAST(100 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([ProductId], [ProductTypeId], [ProductNameId], [ProductImage], [ProductDescription], [CompanyName], [ProductPrice]) VALUES (5, 4, 7, N'0.Jpg', N'', N'hshttrh', CAST(200 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductName] ON 

INSERT [dbo].[ProductName] ([ProductNameId], [ProductTypeId], [ProductName]) VALUES (6, 4, N'shirt')
INSERT [dbo].[ProductName] ([ProductNameId], [ProductTypeId], [ProductName]) VALUES (7, 4, N'pant')
SET IDENTITY_INSERT [dbo].[ProductName] OFF
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeId], [ProductTypeName]) VALUES (4, N'Cloths')
INSERT [dbo].[ProductType] ([ProductTypeId], [ProductTypeName]) VALUES (5, N'Dispensary')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
SET IDENTITY_INSERT [dbo].[SalesRecord] ON 

INSERT [dbo].[SalesRecord] ([SalesId], [CustomerId], [ProductId]) VALUES (1, 2, 5)
INSERT [dbo].[SalesRecord] ([SalesId], [CustomerId], [ProductId]) VALUES (6, 2, 5)
INSERT [dbo].[SalesRecord] ([SalesId], [CustomerId], [ProductId]) VALUES (7, 2, 5)
SET IDENTITY_INSERT [dbo].[SalesRecord] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [UserTypeId], [UserName], [UserEmail], [UserContactNo], [DateOfBirth], [Password]) VALUES (1, 2, N'Nasir', N'nasirhrana@gmail.com', N'01876315517', CAST(0xDA3E0B00 AS Date), N'123')
INSERT [dbo].[User] ([UserId], [UserTypeId], [UserName], [UserEmail], [UserContactNo], [DateOfBirth], [Password]) VALUES (2, 2, N'Nasir', N'a@gmail.com', N'01876315517', CAST(0xD83E0B00 AS Date), N'12')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName]) VALUES (1, N'Supplier')
INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[UserType] OFF
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductName] FOREIGN KEY([ProductNameId])
REFERENCES [dbo].[ProductName] ([ProductNameId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductName]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[ProductName]  WITH CHECK ADD  CONSTRAINT [FK_ProductName_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([ProductTypeId])
GO
ALTER TABLE [dbo].[ProductName] CHECK CONSTRAINT [FK_ProductName_ProductType]
GO
ALTER TABLE [dbo].[SalesRecord]  WITH CHECK ADD  CONSTRAINT [FK_SalesRecord_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[SalesRecord] CHECK CONSTRAINT [FK_SalesRecord_Product]
GO
ALTER TABLE [dbo].[SalesRecord]  WITH CHECK ADD  CONSTRAINT [FK_SalesRecord_User] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[SalesRecord] CHECK CONSTRAINT [FK_SalesRecord_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
USE [master]
GO
